# ============================================
# ENVIRONMENT CONFIGURATION
# ============================================
# Copie este arquivo para .env e ajuste os valores

# ============================================
# APPLICATION
# ============================================
NODE_ENV=development
PORT=3000

# ============================================
# DATABASE
# ============================================
# PostgreSQL Connection String
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/payments_db?schema=public"

# ============================================
# TESTING (Opcional)
# ============================================
# Database de testes (separado do desenvolvimento)
DATABASE_URL_TEST="postgresql://postgres:postgres@localhost:5432/payments_db_test?schema=public"


CORS_ORIGIN=http://localhost:3000,http://localhost:4200
CORS_CREDENTIALS=true

RATE_LIMIT_TTL=60
RATE_LIMIT_MAX=100
